
.profCont {
  background-color: rgba(255, 255, 255, 0.671);
  box-shadow: 0px 0px 5px 0px #000000;
  border: 1px solid black;
  border-radius: 3px;
  /* margin: 40px; */
  width: 25vw;
  height: 730px;
  position: fixed;
  top: 120px;
  left: 40px;
  /* display: flex; */
}

.profPic {
  /* background-color: rgba(255, 255, 255, 0.671); */
  box-shadow: 0px 0px 5px 0px #000000;
  border: 1px solid black;
  border-radius: 3px;
  height: 150px;
  width: 150px;
  /* margin: 20px 20px; */
  margin-top: 15px;

}

.profInfo {
  background-color: rgba(255, 255, 255, 0.671);
  box-shadow: 0px 0px 5px 0px #000000;
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px;
  height: 71%;
  justify-content: flex-start;
  
}

.profGroup {
  margin: 20px;
  text-align: start;
  line-height: 2;
  height: 55%;
}

.profItem {
  margin: 10px;
  font-size: 20px;
}

.editButton {
  width: 82%;
  height: 60px;
  background: linear-gradient(rgb(119, 0, 255), rgb(215, 159, 253));
  box-shadow: 0px 0px 5px 0px #000000;
  border: 1px solid black;
  border-radius: 3px;
  bottom: 10px;
  font-size: 20px;
  margin-top: 25px;
  outline: none;
}

.editButton:hover {
  background: linear-gradient(rgb(215, 159, 253), rgb(119, 0, 255));
  /* transition: 0.4s; */
}

.editButton:active {
  transform: translateY(1px);
}

.editProfInput {
  width: 30%;
}

.saveB {
  width: 82%;
  height: 60px;
  background: linear-gradient(rgb(119, 0, 255), rgb(215, 159, 253));
  box-shadow: 0px 0px 5px 0px #000000;
  border: 1px solid black;
  border-radius: 3px;
  bottom: 10px;
  font-size: 20px;
  margin-top: 25px;
  outline: none;
}

.cancelB {
  width: 82%;
  height: 60px;
  background: linear-gradient(rgb(119, 0, 255), rgb(215, 159, 253));
  box-shadow: 0px 0px 5px 0px #000000;
  border: 1px solid black;
  border-radius: 3px;
  bottom: 10px;
  font-size: 20px;
  margin-top: 25px;
  outline: none;
}

.buttonGroup {
  /* margin-top: 150px; */
}

.submit {
  padding-top: 24px;
}